@tailwind base;
@tailwind components;
@tailwind utilities;

:global {
    @apply font-[Star-Crush]
}

:global {
    -webkit-user-select: none;
    user-select: none;
}

@layer base {
    @font-face {
        font-family: 'Star-Crush';
        src: url('src/lib/Star Crush.otf');
    }
    @font-face {
        font-family: 'RetroByte';
        src: url('src/lib/RetroByte.ttf');
    }
}

.outline-shadow-lg {
    color: var(--color-rose-200);
    text-shadow: 2px 2px 0px var(--color-blue-800), -2px 2px 0px var(--color-blue-800), 2px -2px 0px var(--color-blue-800), -2px -2px 0px var(--color-blue-800), 2px 0px 0px var(--color-blue-800), -2px 0px 0px var(--color-blue-800), 0px 2px 0px var(--color-blue-800), 0px -2px 0px var(--color-blue-800), 2px 5px 0px var(--color-blue-800);
}

.outline-shadow-sm {
    color: var(--color-rose-200);
    text-shadow: 1.5px 1.5px 0px var(--color-blue-800), -1.5px 1.5px 0px var(--color-blue-800), 1.5px -1.5px 0px var(--color-blue-800), -1.5px -1.5px 0px var(--color-blue-800), 1.5px 0px 0px var(--color-blue-800), -1.5px 0px 0px var(--color-blue-800), 0px 1.5px 0px var(--color-blue-800), 0px -1.5px 0px var(--color-blue-800), 1.5px 3.5px 0px var(--color-blue-800);
}

div {

    -webkit-user-select: none;
    user-select: none;
}
@reference "tailwindcss";
button {
    @apply text-blue-800 bg-rose-200 border-2 border-blue-800 shadow-[2px_2px_0px_0px_var(--color-blue-800)]
}

@reference "tailwindcss";
button:active {
    @apply shadow-[inset_1px_1px_0px_0px_var(--color-blue-800)] translate-[2px] 
}