@tailwind base;
@tailwind components;
@tailwind utilities;

:global {
    @apply font-[Star-Crush]
}

:global {
    -webkit-user-select: none;
    user-select: none;
}

@layer base {
    @font-face {
        font-family: 'Star-Crush';
        src: url('Star-Crush.otf');
        /*https://cdn.hackclub.com/019cf234-ee23-7a98-a409-afffaa7996e5/Star%20Crush.otf*/
    }
    @font-face {
        font-family: 'RetroByte';
        src: url('src/lib/RetroByte.ttf');
        /*https://cdn.hackclub.com/019cf234-ce2e-78ec-a095-390c3711dea8/RetroByte.ttf*/
    }
}

.outline-shadow-lg {
    color: var(--color-rose-200);
    text-shadow: 2px 2px 0px var(--color-blue-800), -2px 2px 0px var(--color-blue-800), 2px -2px 0px var(--color-blue-800), -2px -2px 0px var(--color-blue-800), 2px 0px 0px var(--color-blue-800), -2px 0px 0px var(--color-blue-800), 0px 2px 0px var(--color-blue-800), 0px -2px 0px var(--color-blue-800), 2px 5px 0px var(--color-blue-800);
}

.outline-shadow-sm {
    color: var(--color-rose-200);
    text-shadow: 1.5px 1.5px 0px var(--color-blue-800), -1.5px 1.5px 0px var(--color-blue-800), 1.5px -1.5px 0px var(--color-blue-800), -1.5px -1.5px 0px var(--color-blue-800), 1.5px 0px 0px var(--color-blue-800), -1.5px 0px 0px var(--color-blue-800), 0px 1.5px 0px var(--color-blue-800), 0px -1.5px 0px var(--color-blue-800), 1.5px 3.5px 0px var(--color-blue-800);
}

div {

    -webkit-user-select: none;
    user-select: none;
}

button {
    font-family: Star-Crush
}